--index-url https://pypi.org/simple/

aiofiles==0.4.0
apistar==0.5.42
boto3==1.8.9
botocore==1.11.9
cachetools==2.1.0
certifi==2018.10.15
chardet==3.0.4
Click==7.0
docutils==0.14
gunicorn==19.9.0
h11==0.8.1
httptools==0.0.11
idna==2.7
Jinja2==2.10
jmespath==0.9.3
MarkupSafe==1.0
peewee==3.6.4
psycopg2-binary==2.7.5
python-dateutil==2.7.3
PyYAML==4.2b4
requests==2.20.0
s3transfer==0.1.13
six==1.11.0
urllib3==1.23
git+https://github.com/markbreedlove/uvicorn.git@send-400-for-invalid-request#egg=uvicorn
uvloop==0.11.2
websockets==6.0
Werkzeug==0.14.1
whitenoise==4.1

-e .
